.label {
    -fx-background-color: #0D0D0D;
    -fx-text-fill: white;
    -fx-border-color: #FF7300;
    -fx-border-width: 1px;
    -fx-background-radius: 0.5em;
    -fx-border-radius: 0.5em;
    -fx-padding: 5px 10px;
}

.reply-label {
    -fx-background-color: #00c853;
    -fx-text-fill: white;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-padding: 5px 10px;
}

#displayPicture {
    -fx-shape: "M 50, 25 A 25, 25 0 1, 1 50, 75 A 25, 25 0 1, 1 50, 25";
    -fx-clip: "M 50, 25 A 25, 25 0 1, 1 50, 75 A 25, 25 0 1, 1 50, 25";


    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 2, 2);

    /* Resize the image */
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
}
